*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-family: Helvetica,sans-serif;
  background-color: #F5F5F5;
}

.content {
  width:1000px;
  padding:15px;
  margin:auto;
}

.table tr:nth-child(odd){
  background: none
}

.table tr:nth-child(even){
  background: #EEE
}

.clearfix {
  clear:both;
}

.input-group-addon.clickable {
	cursor:pointer;
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
