{% set active_tab = 'add_item' %}
{% extends 'base.html' %}

{% block title %}
Add Item
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(function () {
    window.fav = new FoodAdderView();
  });
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/add_food.css" type="text/css" />
{% endblock %}

{% block content %}

  <div class="food-adder">

    <div class="food-adder-drawer food-adder-component">
      <div class="food-adder-section" data-item-type="food">
        <h3>Add Food</h3>
        <div class="food-adder-img-holder">
          <img src="static/img/cupcake.png" />
        </div>

        <div class="food-adder-form-holder">
          <form action="#">
            <input name="name" class="food-adder-input form-control input-sm" type="text" placeholder="Food" />
            <input name="quantity" class="food-adder-input form-control input-sm" type="text" placeholder="Quantity" />
            <input name="calories" class="food-adder-input form-control input-sm" type="text" placeholder="Calories" />
            <input name="date" class="food-adder-input form-control input-sm" type="text" placeholder="Date" />
            <button type="submit" class="btn btn-success food-adder-submit">Add!</button>
          </form>
        </div>
      </div>

      <div class="food-adder-divider" data-item-type="exercise"></div>

      <div class="food-adder-section">
        <h3>Add Exercise</h3>
        <div class="food-adder-img-holder">
          <img src="static/img/cupcake.png" />
        </div>

        <div class="food-adder-form-holder">
          <form action="#">
            <input name="name" class="food-adder-input form-control input-sm" type="text" placeholder="Exercise" />
            <input name="duration" class="food-adder-input form-control input-sm" type="text" placeholder="Duration" />
            <input name="calories" class="food-adder-input form-control input-sm" type="text" placeholder="Calories" />
            <input name="date" class="food-adder-input form-control input-sm" type="text" placeholder="Date" />
            <button type="submit" class="btn btn-success food-adder-submit">Add!</button>
          </form>
        </div>

      </div>
    </div>

    <div class="food-adder-list food-adder-component">
      <div class="food-add-list-nav">
        <!-- date stuff -->
        <span class = "glyphicon glyphicon-chevron-left left-nav"></span>
        <h1>Today</h1>
        <span class = "glyphicon glyphicon-chevron-right right-nav"></span>
      <div>

      <div class="food-adder-list-table-holder">
        <table class="table">
          <thead>
            <tr>
              <th id = "icon-column"></th>
              <th id = "food-column">Food</th>
              <th id = "calories-column">Calories</th>
              <th id = "remove-column"></th>
            </tr>
          </thead>

          <tbody>
            <script type="text/template" id="food-list-row-template">
            <tr class="food-adder-list-row" data-food-item-id="<%= cid %>">
              <td class="img-cell"><img src="<%= img_url %>"/></td>
              <td><%= name %></td>
              <td><%= calories %></td>
              <td>
                <button type="button" class="btn btn-danger btn-xs food-list-delete-item">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
            </script>
          </tbody>

        </table>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>

{% endblock %}
