{% set active_tab = 'add_item' %}
{% extends 'base.html' %}

{% block title %}
Add Item
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  window.TTDATA.consumableItems = {{ items|safe }};
  window.TTDATA.history = {{history|safe}};
  $(function () {
    window.fav = new FoodAdderView();
  });
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/add_food.css" type="text/css" />
{% endblock %}

{% block content %}

  <div class="undo-deletion alert alert-warning" style="display:none;">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <div class="undo-button-innards">
      <script type="text/template" id="undo-deletion-innards-template">
        You just deleted the <%= item_type %> <%= name %> from <%= date %>.
        <button type="button" class="undo btn btn-info btn-xs">Undo</button>
      </script>
    </div>
  </div>

  <div class="food-adder">

    <div class="food-adder-drawer food-adder-component">
      <div class="food-adder-section" data-item-type="food">
        <h3>Add Food</h3>
        <div class="food-adder-img-holder">
          <div class="item-adder-default-image">
            <img src="static/img/food.png" />
          </div>

          <div class="item-adder-other-image hidden">
            <img />
          </div>

        </div>

        <div class="food-adder-form-holder">
          <form action="#">
            <div class="can-be-red name-div">
            <input name="name" class="food-adder-input form-control input-sm" type="text" placeholder="Food" />
            </div>
            <div class="can-be-red quantity-div">
            <input name="quantity" class="food-adder-input form-control input-sm" type="text" placeholder="Quantity" />
            </div>
            <div class="can-be-red calories-div">
              <input name="calories" class="food-adder-input form-control input-sm" type="text" placeholder="Calories" />
            </div>

            <div class="food-adder-input input-group input-append date" data-date="" data-date-format="m/d/yyyy">
              <input type="text" class="form-control input-sm" placeholder="Date"></input>
              <span class="clickable input-group-addon add-on">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>


            <button type="submit" class="btn btn-success food-adder-submit">ADD</button>
          </form>
        </div>
      </div>

      <div class="food-adder-divider" data-item-type="exercise"></div>

      <div class="food-adder-section"  data-item-type="exercise">
        <h3>Add Exercise</h3>
        <div class="exercise-adder-img-holder">
          <div class="item-adder-default-image">
            <img src="static/img/running.png" />
            <img src="static/img/weight.png" />
            <img src="static/img/biking.png" />
            <img src="static/img/swimming.png" />
          </div>
          <div class="item-adder-other-image hidden">
            <img />
          </div>
        </div>

        <div class="food-adder-form-holder">
          <form action="#">
            <div class="can-be-red name-div">
              <input name="name" class="food-adder-input form-control input-sm" type="text" placeholder="Exercise" />
            </div>
            <div class="can-be-red quantity-div">
            <input name="quantity" class="food-adder-input form-control input-sm" type="text" placeholder="Duration" />
            </div>
            <div class="can-be-red calories-div">
              <input name="calories" class="food-adder-input form-control input-sm" type="text" placeholder="Calories" />
            </div>
            
            <div class="food-adder-input input-group input-append date" data-date="" data-date-format="m/d/yyyy">
              <input type="text" class="form-control input-sm" placeholder="Date"></input>
              <span class="clickable input-group-addon add-on">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>



            <button type="submit" class="btn btn-success food-adder-submit">ADD</button>
          </form>
        </div>

      </div>
    </div>

    <div class="food-adder-list food-adder-component">
      <div class="food-add-list-nav disable-selection">
        <!-- date stuff -->
        <span class = "glyphicon glyphicon-chevron-left left-nav enabled"></span>

        <div class="food-add-list-nav-heading-wrapper">
          <div class = "clickable data-date" data-date="" data-date-format="m/d/yyyy">
            <span class = "glyphicon glyphicon-calendar date-cal"></span>
            <h1 class="food-add-list-nav-heading">Today</h1>  
            <b class = "caret"></b>
          </div>
        </div>

        <span class = "glyphicon glyphicon-chevron-right right-nav"></span>
      <div>

      <div class="food-adder-list-table-holder">

        <table class="table food-list-table">
          <thead>
            <tr>
              <th id = "icon-column"></th>
              <th id = "food-column">Food</th>
              <th id = "calories-column">Calories</th>
              <th id = "remove-column"></th>
            </tr>
          </thead>

          <tbody>
            <script type="text/template" id="food-list-row-template">
            <tr class="food-adder-list-row" data-food-item-id="<%= cid %>">
              <td class="img-cell"><img src="<%= img_url %>"/></td>
              <td><%= name %></td>
              <td>
                <span class="item-table-calories <%= item_type %>">
                  <%= item_type === 'exercise' ? '-' : '+' %><%= calories %>
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-xs food-list-delete-item">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
            </script>
          </tbody>

        </table>

        <div class="table-footer-divider">
          <div class = "total-calories">Total Calories:</div>
          <div class = "sum-of-calories"></div>
        </div>
        

      </div>
    </div>

    <div class="clearfix"></div>

  </div>

{% endblock %}
