{% set active_tab = 'data' %}
{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/data.css" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(function () {
    window.dv = new DataView();
  });
</script>
{% endblock %}

{% block content %}

<div class='data-main'>

	<div class='data-datepicker'>
	</div>

	<div class='data-holder'>

		<div class='data-food-highlights'>
		</div>

		<div class='data-exercise-highlights'>
		</div>

		<div class='data-history'>
		</div>

	</div>


</div>

{% endblock %}