{% set active_tab = 'data' %}
{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/data.css" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

  window.TTDATA.history = {{history|safe}}

  $(function () {
    window.dv = new DataView();
  });
</script>
{% endblock %}

{% block content %}

<div class='data-main'>

	<div class='data-datepicker'>
        <div id="reportrange" class="pull-right">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span></span> <b class="caret"></b>
        </div>
        <div class="clearfix"></div>
	</div>

	<div class='data-holder'>

		<div class='data-food-highlights'>
			<canvas class="canvas"></canvas>
		</div>

		<div class='data-exercise-highlights'>
			<canvas class="canvas"></canvas>
		</div>

		<div class='data-history'>
			<canvas class="canvas"></canvas>
		</div>

	</div>


</div>

{% endblock %}